Repository irahardianto/qurio: changes, and which Codecov flags are due for each by the changed paths.
All: backend, ingestion-worker, frontend

chores: clean up frontend codes and standardize ingestion worker logs
  .env.example
  .serena/memories/implementation_details.md
  README.md
  apps/frontend/package-lock.json
  apps/ingestion-worker/tests/test_logging_integration.py
  docs/plans/2026-01-08-bug-inconsistencies-2.md
Due: frontend

impl better distributed ingestion micro pipeline
  .env.example
  .serena/memories/core_foundation_state.md
  .serena/memories/distributed_micro_pipeline_implemented.md
  .serena/memories/pdf_ingestion_reliability.md
  .serena/memories/project_overview.md
  .serena/memories/tech_stack.md
  apps/backend/internal/app/app.go
  apps/backend/internal/app/bootstrap.go
  apps/backend/internal/config/config.go
  apps/backend/internal/config/config_test.go
  apps/backend/internal/config/topics.go
  apps/backend/internal/worker/embedder_consumer.go
  apps/backend/internal/worker/embedder_consumer_test.go
  apps/backend/internal/worker/events.go
  apps/backend/internal/worker/integration_test.go
  apps/backend/internal/worker/result_consumer.go
  apps/backend/internal/worker/result_consumer_llms_test.go
  apps/backend/internal/worker/result_consumer_test.go
  apps/backend/internal/worker/worker_test.go
  apps/backend/main.go
  apps/frontend/src/components/layout/Sidebar.vue
  debug_logs.txt
  docker-compose.yml
  docs/plans/2026-01-12-enhancement-distributed-micro-pipeline-1.md
Due: backend, frontend

fix broken CI pipeline
  apps/backend/smoke_test.go
Due: none

refactor retry configurations to use env parameters
  .env.example
  .serena/memories/implementation_details.md
  apps/frontend/src/components/layout/Sidebar.vue
  apps/ingestion-worker/tests/test_env_config.py
  docker-compose.yml
  docs/plans/2026-01-21-ingestion-retry-config-1.md
Due: frontend

migrate to Streamable HTTP
  .serena/memories/api_endpoints.md
  .serena/memories/implementation_details.md
  .serena/memories/mcp_refactor_streamable.md
  README.md
  apps/backend/features/mcp/handler.go
  apps/backend/features/mcp/handler_integration_test.go
  apps/backend/features/mcp/handler_test.go
  apps/backend/internal/app/app.go
  apps/backend/internal/app/app_test.go
  docs/2026-01-21-enhancement-mcp-streamable-http.md
  docs/plans/2026-01-21-mcp-streamable-http-1.md
Due: backend

improve web crawling error handling, and fix the missing payload to retry
  apps/frontend/src/components/layout/Sidebar.vue
  apps/ingestion-worker/exceptions.py
  apps/ingestion-worker/handlers/web.py
  apps/ingestion-worker/main.py
  apps/ingestion-worker/tests/test_web_handlers.py
  apps/ingestion-worker/tests/test_worker_retry.py
Due: ingestion-worker, frontend

chores: improve unit & integration test coverage, refactor docker compose and configurations
  .env.example
  apps/backend/features/job/handler_additional_test.go
  apps/backend/features/mcp/handler.go
  apps/backend/features/mcp/handler_unit_test.go
  apps/backend/features/source/handler.go
  apps/backend/features/source/handler_additional_test.go
  apps/backend/features/source/handler_create_test.go
  apps/backend/features/source/handler_integration_test.go
  apps/backend/features/source/handler_test.go
  apps/backend/features/source/handler_upload_test.go
  apps/backend/features/source/service_test.go
  apps/backend/features/source/source.go
  apps/backend/internal/app/app.go
  apps/backend/internal/config/config.go
  apps/backend/internal/config/validation_test.go
  apps/backend/internal/middleware/correlation_test.go
  apps/backend/internal/retrieval/service_test.go
  apps/backend/main.go
  apps/frontend/src/components/ui/dialog/DialogContent.vue
  apps/frontend/src/features/sources/SourceForm.spec.ts
  apps/frontend/src/features/sources/SourceForm.vue
  apps/frontend/src/features/sources/source.store.spec.ts
  apps/frontend/src/features/sources/source.store.ts
  apps/ingestion-worker/config.py
  apps/ingestion-worker/logger.py
  apps/ingestion-worker/main.py
  apps/ingestion-worker/mypy.ini
  apps/ingestion-worker/requirements.txt
  apps/ingestion-worker/tests/test_file_handlers.py
  apps/ingestion-worker/tests/test_main_unit.py
  apps/ingestion-worker/tests/test_nsq_integration.py
  apps/ingestion-worker/tests/test_web_handlers.py
  apps/ingestion-worker/tests/test_worker_reliability.py
  apps/ingestion-worker/tests/test_worker_retry.py
  docker-compose.yml
Due: backend, ingestion-worker, frontend

fix Go test failure
  apps/backend/internal/app/bootstrap.go
  apps/backend/internal/config/config.go
  apps/backend/internal/testutils/integration_suite.go
Due: backend

fix CI failure
  apps/backend/internal/testutils/integration_suite.go
Due: none

fix mcp payload causing error in antigravity
  apps/backend/features/mcp/handler.go
  apps/backend/features/mcp/handler_unit_test.go
  apps/backend/go.mod
  go.work
Due: backend

improve embedding, reduce noise, and increase context embedding
  apps/backend/features/mcp/handler.go
  apps/backend/go.mod
  apps/backend/internal/text/chunker.go
  apps/backend/internal/text/chunker_test.go
  apps/backend/internal/worker/embedder_consumer.go
  apps/backend/internal/worker/embedder_consumer_test.go
  apps/backend/internal/worker/result_consumer_test.go
  apps/frontend/src/components/layout/Sidebar.vue
  apps/ingestion-worker/handlers/web.py
  apps/ingestion-worker/tests/test_web_handlers.py
  go.work
Due: backend, ingestion-worker, frontend

fix sitemap implementation, improve document ingestion and pipeline reliability
  apps/ingestion-worker/handlers/file.py
  apps/ingestion-worker/handlers/sitemap.py
  apps/ingestion-worker/handlers/web.py
  apps/ingestion-worker/main.py
  apps/ingestion-worker/requirements.txt
  apps/ingestion-worker/tests/test_file_handlers.py
  apps/ingestion-worker/tests/test_main_unit.py
  apps/ingestion-worker/tests/test_sitemap_handler.py
  apps/ingestion-worker/tests/test_web_handlers.py
  apps/ingestion-worker/tests/test_worker_retry.py
Due: ingestion-worker

chores: test coverage improvement
  apps/backend/features/source/handler_error_test.go
  apps/backend/features/source/service_test.go
  apps/backend/internal/adapter/reranker/dynamic_client_test.go
  apps/backend/internal/retrieval/logger_test.go
  apps/backend/internal/settings/handler_test.go
  apps/backend/internal/text/chunker_test.go
  apps/backend/internal/vector/adapter_test.go
  apps/backend/internal/worker/result_consumer_test.go
  apps/frontend/src/components/layout/Sidebar.spec.ts
  apps/frontend/src/features/jobs/job.store.spec.ts
  apps/frontend/src/features/settings/settings.store.spec.ts
  apps/frontend/src/features/sources/source.store.spec.ts
  apps/frontend/src/views/DashboardView.spec.ts
  apps/frontend/src/views/JobsView.spec.ts
  apps/frontend/src/views/SourceDetailView.spec.ts
  apps/ingestion-worker/handlers/sitemap.py
  apps/ingestion-worker/pytest.ini
  apps/ingestion-worker/requirements.txt
  apps/ingestion-worker/tests/test_coverage_gaps.py
  apps/ingestion-worker/tests/test_crawler_lifecycle.py
  apps/ingestion-worker/tests/test_llms_txt_bypass.py
  apps/ingestion-worker/tests/test_nsq_integration.py
  apps/ingestion-worker/tests/test_process_and_init.py
Due: ingestion-worker

Path conditions:
  backend: any of: apps/backend/, but not: **/*.md, docs/**/*, .gemini/**/*, .serena/**/*, .github/**/*, **/verify_infra.sh, docker-compose.yml, **/*_test.go, **/*.spec.ts, **/tests/**/*, **/test-files/**/*, apps/backend/internal/testutils/**/*, apps/e2e/**/*, apps/backend/main.go, apps/backend/migrations/**/*, apps/backend/internal/app/mocks_test.go, **/testutils/**/*, **/testutils/*.go, apps/frontend/*.config.js, apps/frontend/*.config.ts, apps/frontend/*.config.mjs, apps/frontend/src/main.ts, apps/frontend/src/lib/utils.ts, apps/frontend/src/components/ui/**/*, apps/ingestion-worker/main.py, apps/ingestion-worker/config.py, apps/ingestion-worker/logger.py
  ingestion-worker: any of: apps/ingestion-worker/, but not: **/*.md, docs/**/*, .gemini/**/*, .serena/**/*, .github/**/*, **/verify_infra.sh, docker-compose.yml, **/*_test.go, **/*.spec.ts, **/tests/**/*, **/test-files/**/*, apps/backend/internal/testutils/**/*, apps/e2e/**/*, apps/backend/main.go, apps/backend/migrations/**/*, apps/backend/internal/app/mocks_test.go, **/testutils/**/*, **/testutils/*.go, apps/frontend/*.config.js, apps/frontend/*.config.ts, apps/frontend/*.config.mjs, apps/frontend/src/main.ts, apps/frontend/src/lib/utils.ts, apps/frontend/src/components/ui/**/*, apps/ingestion-worker/main.py, apps/ingestion-worker/config.py, apps/ingestion-worker/logger.py
  frontend: any of: apps/frontend/, but not: **/*.md, docs/**/*, .gemini/**/*, .serena/**/*, .github/**/*, **/verify_infra.sh, docker-compose.yml, **/*_test.go, **/*.spec.ts, **/tests/**/*, **/test-files/**/*, apps/backend/internal/testutils/**/*, apps/e2e/**/*, apps/backend/main.go, apps/backend/migrations/**/*, apps/backend/internal/app/mocks_test.go, **/testutils/**/*, **/testutils/*.go, apps/frontend/*.config.js, apps/frontend/*.config.ts, apps/frontend/*.config.mjs, apps/frontend/src/main.ts, apps/frontend/src/lib/utils.ts, apps/frontend/src/components/ui/**/*, apps/ingestion-worker/main.py, apps/ingestion-worker/config.py, apps/ingestion-worker/logger.py
